<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Painting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h2>Add a Painting</h2>
    <form action="/paintings/create" method="POST">
        <label>Title:</label>
        <input type="text" name="title">
        <label>Description:</label>
        <input type="text" name="description">
        <label>Price:</label>
        <input type="text" name="price">
        <label>Quantity:</label>
        <input type="text" name="quantity">
        <input type="hidden" name="user_id" value="{{session['user_id']}}">
        <input type="submit" value="Add Painting">
    </form>
    <a href="/paintings">Back to Paintings</a>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</body>
</html>